# Data Preprocessing:

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('heart.csv')

In [4]:
data

,Age,Age.Group,Gender,Locality,Marital_status,Sleep,Depression,Smoking,Diabetes,BP,...,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Mortality
0,45,41-50,Female,RURAL,MARRIED,NO,YES,NO,1,100.6,...,341,1,2,136,1,3.0,2,0,7,0
1,51,51-60,Female,URBAN,MARRIED,NO,YES,NO,0,90.6,...,305,0,0,142,1,1.2,2,0,7,0
2,55,51-60,Female,RURAL,MARRIED,YES,YES,NO,1,100.7,...,327,0,1,117,1,3.4,2,0,3,0
3,55,51-60,Female,RURAL,MARRIED,YES,YES,NO,1,160.1,...,205,0,1,130,1,2.0,2,1,7,0
4,56,51-60,Female,RURAL,MARRIED,NO,YES,NO,1,90.6,...,288,1,2,133,1,4.0,3,2,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,55,51-60,Male,URBAN,MARRIED,NO,YES,NO,0,120.8,...,274,0,2,166,0,0.5,2,0,7,0
364,55,51-60,Male,RURAL,MARRIED,NO,YES,YES,0,110.7,...,188,0,0,139,0,2.0,2,3,7,0
365,58,51-60,Male,URBAN,MARRIED,NO,YES,NO,1,130.9,...,149,0,2,126,0,0.8,1,3,3,0
366,58,51-60,Male,URBAN,MARRIED,NO,YES,YES,0,120.7,...,243,0,2,128,0,2.6,2,0,7,0
367,50,41-50,Male,RURAL,MARRIED,NO,YES,YES,0,100.6,...,233,0,0,163,0,0.6,2,1,7,0

Before removing the null data

In [5]:
data.shape

(368, 23)

After removing the null data

In [6]:
df = data.dropna()

In [7]:
df.shape

(368, 23)

In [8]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality', 'Marital_status', 'Sleep',
       'Depression', 'Smoking', 'Diabetes', 'BP', 'Hypersensitivity', 'cp',
       'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak',
       'slope', 'ca', 'thal', 'Mortality'],
      dtype='object')

In [9]:
df.isnull().sum()

Age                 0
Age.Group           0
Gender              0
Locality            0
Marital_status      0
Sleep               0
Depression          0
Smoking             0
Diabetes            0
BP                  0
Hypersensitivity    0
cp                  0
trestbps            0
chol                0
fbs                 0
restecg             0
thalach             0
exang               0
oldpeak             0
slope               0
ca                  0
thal                0
Mortality           0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               368 non-null    int64
 1   Age.Group         368 non-null    object
 2   Gender            368 non-null    object
 3   Locality          368 non-null    object
 4   Marital_status    368 non-null    object
 5   Sleep             368 non-null    object
 6   Depression        368 non-null    object
 7   Smoking           368 non-null    object
 8   Diabetes          368 non-null    int64
 9   BP                368 non-null    float64
 10  Hypersensitivity  368 non-null    object
 11  cp                368 non-null    int64
 12  trestbps          368 non-null    int64
 13  chol              368 non-null    int64
 14  fbs               368 non-null    int64
 15  restecg           368 non-null    int64
 16  thalach           368 non-null    int64
 17  exang             368 non-null    int64
 18  oldpeak           368 non-null    float64
 19  slope             368 non-null    int64
 20  ca                368 non-null    int64
 21  thal              368 non-null    int64
 22  Mortality         368 non-null    int64
dtypes: float64(2), int64(13), object(8)
memory usage: 66.2+ KB

In [11]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality', 'Marital_status', 'Sleep',
       'Depression', 'Smoking', 'Diabetes', 'BP', 'Hypersensitivity', 'cp',
       'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak',
       'slope', 'ca', 'thal', 'Mortality'],
      dtype='object')

In [12]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
363     True
364     True
365     True
366     True
367     True
Length: 368, dtype: bool

In [13]:
df.duplicated().sum()

214

In [14]:
df.describe()

,Age,Diabetes,BP,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Mortality
count,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000
mean,54.293478,0.461957,121.213315,3.671196,132.741848,248.940217,0.141304,1.073370,140.923913,0.562500,1.541848,1.842391,1.002717,5.858696,0.217391
std,8.718158,0.499229,24.539205,0.772862,18.194265,50.126453,0.348809,0.994562,22.994601,0.496754,1.385381,0.564284,1.037442,1.744319,0.413033
min,24.000000,0.000000,80.500000,1.000000,100.000000,131.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,50.750000,0.000000,100.700000,4.000000,120.000000,212.000000,0.000000,0.000000,125.000000,0.000000,0.275000,1.750000,0.000000,3.000000,0.000000
50%,55.000000,0.000000,120.800000,4.000000,130.000000,249.000000,0.000000,2.000000,144.000000,1.000000,1.200000,2.000000,1.000000,7.000000,0.000000
75%,60.250000,1.000000,140.700000,4.000000,142.000000,283.000000,0.000000,2.000000,158.000000,1.000000,2.200000,2.000000,2.000000,7.000000,0.000000
max,77.000000,1.000000,190.110000,4.000000,200.000000,409.000000,1.000000,2.000000,195.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.000000

In [15]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality', 'Marital_status', 'Sleep',
       'Depression', 'Smoking', 'Diabetes', 'BP', 'Hypersensitivity', 'cp',
       'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak',
       'slope', 'ca', 'thal', 'Mortality'],
      dtype='object')

In [16]:
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [17]:
df.Locality.unique()

array(['RURAL', 'URBAN'], dtype=object)

In [18]:
df.BP.unique()

array([100.6 ,  90.6 , 100.7 , 160.1 , 140.7 , 120.8 , 130.8 , 160.9 ,
       140.9 , 110.7 , 190.11, 160.7 , 150.9 ,  80.5 , 120.9 , 130.9 ,
       120.7 ])

In [19]:
df.Age.unique()

array([45, 51, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 24, 25, 35, 38,
       40, 44, 46, 47, 50, 52, 53, 54, 64, 67, 68, 69, 70, 77],
      dtype=int64)

In [20]:
df.Smoking.unique()

array(['NO', 'YES'], dtype=object)

In [21]:
df.Mortality.unique()

array([0, 1], dtype=int64)

In [22]:
df.Mortality.value_counts()

0    288
1     80
Name: Mortality, dtype: int64

In [23]:
pd.crosstab(df.Age,df.Mortality)

Mortality   0   1
Age
24          6   0
25          5   0
35          5   0
38          1   4
40          6   4
44          0   5
45          5   6
46          0   5
47          4   1
50         16  19
51         11   0
52         23   3
53         10   0
54         30   0
55         35   0
56         17   1
57          9   1
58         18   0
59          8   1
60         17   0
61          5  10
62         12  15
63         13   5
64          4   0
65          8   0
66          7   0
67          6   0
68          2   0
69          1   0
70          3   0
77          1   0

In [24]:
pd.crosstab(df.Gender,df.Mortality)

Mortality    0   1
Gender
Female      49  34
Male       239  46

In [25]:
df.corr()

,Age,Diabetes,BP,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Mortality
Age,1.000000,0.231081,-0.034220,0.039433,0.300752,0.184823,0.121626,0.128239,-0.099504,-0.160281,0.103862,0.147343,0.438851,-0.261194,-0.099490
Diabetes,0.231081,1.000000,0.013709,0.055767,0.093861,0.087997,-0.078578,-0.090400,-0.017580,-0.028842,-0.039453,0.085054,0.050180,-0.090673,0.317722
BP,-0.034220,0.013709,1.000000,0.013485,-0.126641,-0.070075,0.067410,0.000630,0.026236,0.025394,-0.161551,-0.130320,-0.077802,-0.082335,-0.041203
cp,0.039433,0.055767,0.013485,1.000000,0.010224,-0.009934,0.051526,0.148451,-0.195365,0.305626,0.047751,0.030798,0.137051,-0.004240,-0.040081
trestbps,0.300752,0.093861,-0.126641,0.010224,1.000000,0.220297,0.171493,0.154641,0.159584,-0.028509,0.132800,0.095021,0.158685,0.157167,-0.098750
chol,0.184823,0.087997,-0.070075,-0.009934,0.220297,1.000000,-0.010892,0.079503,0.084777,0.021161,-0.048265,-0.117377,0.182081,-0.059587,0.175142
fbs,0.121626,-0.078578,0.067410,0.051526,0.171493,-0.010892,1.000000,0.079996,0.039053,0.169049,-0.057943,0.127301,0.081763,0.014993,-0.024669
restecg,0.128239,-0.090400,0.000630,0.148451,0.154641,0.079503,0.079996,1.000000,0.028601,-0.045156,-0.060177,-0.052167,0.131847,-0.100811,-0.012401
thalach,-0.099504,-0.017580,0.026236,-0.195365,0.159584,0.084777,0.039053,0.028601,1.000000,-0.264365,-0.246837,-0.376399,-0.137970,-0.055431,-0.039567
exang,-0.160281,-0.028842,0.025394,0.305626,-0.028509,0.021161,0.169049,-0.045156,-0.264365,1.000000,0.129619,0.249092,-0.135155,0.154872,-0.106243
oldpeak,0.103862,-0.039453,-0.161551,0.047751,0.132800,-0.048265,-0.057943,-0.060177,-0.246837,0.129619,1.000000,0.637596,0.234815,0.177563,-0.110228
slope,0.147343,0.085054,-0.130320,0.030798,0.095021,-0.117377,0.127301,-0.052167,-0.376399,0.249092,0.637596,1.000000,0.056588,0.157251,0.030498
ca,0.438851,0.050180,-0.077802,0.137051,0.158685,0.182081,0.081763,0.131847,-0.137970,-0.135155,0.234815,0.056588,1.000000,-0.037430,-0.160356
thal,-0.261194,-0.090673,-0.082335,-0.004240,0.157167,-0.059587,0.014993,-0.100811,-0.055431,0.154872,0.177563,0.157251,-0.037430,1.000000,0.020061
Mortality,-0.099490,0.317722,-0.041203,-0.040081,-0.098750,0.175142,-0.024669,-0.012401,-0.039567,-0.106243,-0.110228,0.030498,-0.160356,0.020061,1.000000

In [26]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality', 'Marital_status', 'Sleep',
       'Depression', 'Smoking', 'Diabetes', 'BP', 'Hypersensitivity', 'cp',
       'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak',
       'slope', 'ca', 'thal', 'Mortality'],
      dtype='object')

Before LabelEncoder

In [27]:
df.head()

,Age,Age.Group,Gender,Locality,Marital_status,Sleep,Depression,Smoking,Diabetes,BP,...,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Mortality
0,45,41-50,Female,RURAL,MARRIED,NO,YES,NO,1,100.6,...,341,1,2,136,1,3.0,2,0,7,0
1,51,51-60,Female,URBAN,MARRIED,NO,YES,NO,0,90.6,...,305,0,0,142,1,1.2,2,0,7,0
2,55,51-60,Female,RURAL,MARRIED,YES,YES,NO,1,100.7,...,327,0,1,117,1,3.4,2,0,3,0
3,55,51-60,Female,RURAL,MARRIED,YES,YES,NO,1,160.1,...,205,0,1,130,1,2.0,2,1,7,0
4,56,51-60,Female,RURAL,MARRIED,NO,YES,NO,1,90.6,...,288,1,2,133,1,4.0,3,2,7,0

After LabelEncoder

In [28]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Gender', 'Locality', 'Marital_status', 'Sleep', 'Depression', 'Smoking', 'Hypersensitivity']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [29]:
df.head()

,Age,Age.Group,Gender,Locality,Marital_status,Sleep,Depression,Smoking,Diabetes,BP,...,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Mortality
0,45,41-50,0,0,0,0,1,0,1,100.6,...,341,1,2,136,1,3.0,2,0,7,0
1,51,51-60,0,1,0,0,1,0,0,90.6,...,305,0,0,142,1,1.2,2,0,7,0
2,55,51-60,0,0,0,1,1,0,1,100.7,...,327,0,1,117,1,3.4,2,0,3,0
3,55,51-60,0,0,0,1,1,0,1,160.1,...,205,0,1,130,1,2.0,2,1,7,0
4,56,51-60,0,0,0,0,1,0,1,90.6,...,288,1,2,133,1,4.0,3,2,7,0